<script>
	import { onMount } from 'svelte';

	const API_URL = `http://localhost:3001`;

	let users = [];
	let currentUserId = "";
	let currentUserName = "";
	let currentUserAge = "";
	let currentUserCountry = "";

	const save = (e) => {
		e.preventDefault();
		fetch(`${API_URL}/users${currentUserId ? `/${currentUserId}` : ""}`,{
			method: currentUserId ? "PUT" : "POST",
			mode: "cors",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({id:currentUserId,name:currentUserName, age:currentUserAge,country:currentUserCountry})
		}).then(response=> response.json()).then(loadUsers).then(clear);
	}

	const clear = () => {
		currentUserAge="";
		currentUserCountry="";
		currentUserName="";
		currentUserId="";
	}

	const deleteUser = (id) => (e) => {
		e.preventDefault();
		fetch(`${API_URL}/users/${id}`,{ method:"DELETE"}).then(loadUsers);
	}

	const loadUser = (id) => () => {
		fetch(`${API_URL}/users/${id}`).then(response => response.json()).then(data => {
			currentUserAge=data.age;
			currentUserCountry=data.country;
			currentUserName=data.name;
			currentUserId=data._id;
		});
	}

	const loadUsers = () => fetch(`${API_URL}/users`).then(response => response.json()).then(result=>users=result);

	onMount(() => loadUsers());
</script>

<main>
	<form>
		<input type="text" bind:value={currentUserName} placeholder="name">
		<input type="text" bind:value={currentUserAge} placeholder="age">
		<input type="text" bind:value={currentUserCountry} placeholder="country">
		<div class="action">
			<button on:click={clear}>Clear</button>
			<button on:click={save}>Save</button>
		</div>
	</form>

	{#if users.length}
		<ul class="userList">
			{#each users as user}
				<li on:click={loadUser(user._id)}>
					<pre>{user.name} ({user.age}) | {user.country}</pre>
					<button on:click={deleteUser(user._id)}>Delete</button>
				</li>
			{/each}
		</ul>
	{/if}
</main>

<style>
	:global(:root) {
		--formWidth: 150px;
		--spacing-small: 7px;
		--spacing-medium: 15px;
		--spacing-large: 30px;
		--gray100: #f5f5f5;
		--gray200: #ECEFF1;
	}
	main {
		display: flex;
	}
	form {
		padding-top: var(--spacing-large);
		width: var(--formWidth);
		display:flex;
		flex-direction: column;
		position: fixed;
	}
	.userList {
		padding-left: calc(var(--formWidth) + var(--spacing-medium));
		list-style-type: none;
		width: 100%;
	}

	.userList li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--spacing-small)
	}

	.userList li:nth-child(even) {
		background-color: var(--gray100);
	}
	.userList li:nth-child(odd) {
		background-color: var(--gray200);
	}
	.action {
		display: flex;
		justify-content: space-around;
	}
</style>